.contacts-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.contact-card {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.first-in-row {
    margin-left: 0;
}

@media (min-width: 768px) {
    .contact-card {
        flex-basis: calc(33.333% - 20px);
        margin-right: 20px;
    }

    .contact-card:nth-child(3n) {
        margin-right: 0;
    }
}

.add-contact-btn {
    border: 2px solid #32CD32;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-contact-btn:hover {
    background-color: #32CD32;
    color: #fff;
}

.add-icon {
    font-size: 2rem;
    color: #32CD32;
}
