.contacts {
    display: flex;
    flex-wrap: wrap;
}

.card.contact-card {
    width: calc(33.33% - 30px);
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 767px) {
    .card.contact-card {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .card.contact-card {
        width: calc(33.33% - 30px);
    }
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact__photo {
    flex: 1;
    text-align: center;
}

.contact__photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.contact__location {
    flex: 3;
    padding: 0 20px;
}

.contact__name {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.contact__job-title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.contact__actions {
    flex: 1;
    text-align: center;
}

.contact__action {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.contact__action img {
    width: 20px;
    height: 20px;
}

.icon-button {
    background-color: #fff;
    border: none;
}

.icon-button img {
    border: none;
}

.add-contact-btn {
    border: 2px solid #32CD32;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.add-contact-btn:hover {
    background-color: #32CD32;
    color: #fff;
}

.add-icon {
    font-size: 2rem;
    color: #32CD32;
}
